<div class="user-avatar" insta-background-image="{{user.avatar_url}}">

</div>
<table class="table table-reponsive table-hover table-striped personal-table">
  <tr>
    <th>Personal Data</th>
  </tr>
  <tr>
    <td>Id </td>
    <td>{{user.id}}</td>
  </tr>
  <tr>
    <td>Name </td>
    <td ng-show="user.name">{{user.name}}</td>
    <td ng-hide="user.name">No Name Available</td>
  </tr>
  <tr>
    <td>Email </td>
    <td ng-show="user.email">{{user.email}}</td>
    <td ng-hide="user.email">No Email Available</td>
  </tr>
  <tr>
    <td>Created at </td>
    <td>{{user.created_at | date:'medium'}}</td>
  </tr>

</table>


<div class="bio">
  <div class="title">Bio</div>
  <div class="bio-content"><span ng-show="user.bio">{{user.bio}}</span> <span ng-hide="user.bio">No Bio Available</span></div>
</div>
